header{ justify-content: space-between;}

#headerr{align:right;}



.personall{
  background:#F2E6FF;
  display: flex;
  height: 390px;
  padding: 40px 32px;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 20px;
  align-self: stretch;
  border-radius: 16px;
  border: 1px dashed var(--d-9-d-1-e-0-stroke, #CDBDDB);}}

 .personell{
  background:yellow;
  display: flex;
  height: 370px;
  padding: 40px 32px;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 20px;
  align-self: stretch;
  border-radius: 16px;
  border: 1px dashed var(--d-9-d-1-e-0-stroke, #CDBDDB);}}



#lichnie{color: var(--5-d-5-b-66-secondary-black, #5D5B66);
    /* Small */
    font-family: Museo Sans Cyrl;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.14px;}


#telega{margin-top: 24px;
  margin-bottom: 24px;
  border-radius: 8px;
  background: #F4F4F6;
  display: flex;
  padding: 16px 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  background: #F4F4F6;}

a {
  text-decoration: none
}

a:hover {
  text-decoration: underline;
}

a.help-a:hover {
  text-decoration: none;
}
#birth{
  flex: 1 0 0;
    /* P paragraph */
    font-family: Museo Sans Cyrl;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    }
button{
  color: var(--7953-c-3-purple-main, #7953C3);
  /* P paragraph */
  font-family: Museo Sans Cyrl;
  font-size: 16px;
  font-style: normal;
  font-weight: 100px;
  line-height: 24px;
  weight:140px;

  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;


  border-radius: 8px;
  border: 1px solid var(--7953-c-3-purple-main, #7953C3);
  background: var(--ffffff-white-main, #FFF);

  background: #FFF;
  box-shadow: 0px 1.13351px 4.29362px 0px rgba(133, 94, 152, 0.03),
  0px 2.86674px 10.85888px 0px rgba(133, 94, 152, 0.04),
  0px 5.84789px 22.15109px 0px rgba(133, 94, 152, 0.05),
  0px 5.84789px 22.15109px 0px rgba(133, 94, 152, 0.05);}


form{name:hufee;

}
