#bento{height: 400px;
width: 600px;}
#table2{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
a {
  text-decoration: none
}

a:hover {
  text-decoration: underline;
}

a.help-a:hover {
  text-decoration: none;
}